<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Shake Share</title>
</head>
<body>
    <h1 style="color:rgb(205, 65, 33);">Sunkissed <span style="color:rgb(205, 165, 33);">Shakes</span></h1>
    <div class="container">
        <div class="row pt-5">
            <div class="col">
                {# flash message AREA START#}
                {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            {% if category == 'login' %}
                                <div class="alert alert-success alert-dismissible fade show" role="alert">{{message}}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>                            
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {# flash message AREA END#}
                <div class="card shadow mb-3">
                    <div class="card-body">
                        <h1>Welcome, <span style="color:rgb(33, 205, 125);">{{ user.first_name }}</span>!</h1>
                    </div>
                    <div class="card-footer text-end">
                        <a href="/shakes/new" class="btn btn-success">+ Create</a>
                            <a href="/logout" class="btn btn-danger">Log Out</a>
                    </div>
                    <div>
                        <h2 style="margin: 5px; padding-left: 10px;">All posted shakes:</h2>
                    </div>
                </div>

                <table class="table text-center table-hover">
                    <thead>
                        <tr>
                            <th>Name:</th>
                            <th>Under 5 Minutes:</th>
                            <th>Posted By:</th>
                            <th>Actions:</th>
                            <th>Like Area:</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for shake in shakes %}
                            <tr>
                                <td>{{ shake.name }}</td>           
                                <td>{% if shake.is_under_5 == 1 %} Yes {% else %} No {% endif %}</td>   
                                <td>{{ shake.user.first_name }}</td>
                                <td>
                                    <div class="card-footer d-flex gap-2 justify-content-center">
                                        <a href="/shakes/{{ shake.id }}">view shake</a> |
                                        {% if session.user_id == shake.user_id %}
                                        <a href="/shakes/{{ shake.id }}/edit">edit</a> |
                                        <form action="/shakes/{{ shake.id }}/delete " method="post">
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </form>
                                        {% endif %}
                                    </div>
                                </td>
                                <td>
                                    <div class="card-footer d-flex gap-2 justify-content-center">
                                        <form action="/likes/create" method="post">
                                            <input type="hidden" name="user_id" value="{{ session.user_id}}" />
                                            <input type="hidden" name="shake_id" value="{{ shake.id }}" />
                                            <button type="submit" class="btn btn-success {{ 'disabled' if shake.is_liked_at_by(session.user_id) else '' }}">Like</button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>
</html>