<nav class="navbar" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/shakes"><h1 style="color:rgb(126, 126, 126);">Sunkissed <span style="color:rgb(65, 65, 65);">MilkShakes</span></h1></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto" style="gap: 10px;">
                <li class="nav-item">
                    <button type="submit" class="btn btn-dark"><a style="color: white;" class="nav-link active" aria-current="page" href="/shakes">All Shakes</a></button>
                </li>
                <li class="nav-item">
                    <button type="submit" class="btn btn-dark"><a style="color: white;" class="nav-link active" aria-current="page" href="#">Features</a></button>
                </li>
                <li class="nav-item">
                    <button type="submit" class="btn btn-dark"><a style="color: white;" class="nav-link active" aria-current="page" href="#">Pricing</a></button>
                </li>
                
            </ul>
        </div>
    </div>
</nav>